<dl class="docinfo simple">
<dt class="version">Version<span class="colon">:</span></dt>
<dd class="version">8.2.4</dd>
</dl>
<nav class="contents alert alert-primary float-md-right" id="inhalt" role="doc-toc">
<p class="topic-title">Inhalt</p>
<ul class="simple">
<li><p><a class="reference internal" href="#the-default" id="toc-entry-1">The Default</a></p></li>
<li><p><a class="reference internal" href="#sharenice" id="toc-entry-2">ShareNice</a></p></li>
<li><p><a class="reference internal" href="#socialshareprivacy" id="toc-entry-3">SocialSharePrivacy</a></p>
<ul>
<li><p><a class="reference internal" href="#the-hard-way" id="toc-entry-4">The Hard Way</a></p></li>
<li><p><a class="reference internal" href="#the-easy-way" id="toc-entry-5">The Easy Way</a></p></li>
</ul>
</li>
</ul>
</nav>
<section id="the-default">
<h1><a class="toc-backref" href="#toc-entry-1" role="doc-backlink">The Default</a></h1>
<p>By Default, the themes provided with Nikola will add to your pages a &quot;slide in&quot; widget at
the bottom right of the page, provided by Addthis. This is the HTML code for that:</p>
<div class="code"><pre class="code html"><a id="rest_code_bd243b0cae244e9c964560de53183803-1" name="rest_code_bd243b0cae244e9c964560de53183803-1" href="#rest_code_bd243b0cae244e9c964560de53183803-1"></a><span class="cm">&lt;!-- Social buttons --&gt;</span>
<a id="rest_code_bd243b0cae244e9c964560de53183803-2" name="rest_code_bd243b0cae244e9c964560de53183803-2" href="#rest_code_bd243b0cae244e9c964560de53183803-2"></a><span class="p">&lt;</span><span class="nt">div</span> <span class="na">id</span><span class="o">=</span><span class="s">&quot;addthisbox&quot;</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;addthis_toolbox addthis_peekaboo_style</span>
<a id="rest_code_bd243b0cae244e9c964560de53183803-3" name="rest_code_bd243b0cae244e9c964560de53183803-3" href="#rest_code_bd243b0cae244e9c964560de53183803-3"></a><span class="s">    addthis_default_style addthis_label_style addthis_32x32_style&quot;</span><span class="p">&gt;</span>
<a id="rest_code_bd243b0cae244e9c964560de53183803-4" name="rest_code_bd243b0cae244e9c964560de53183803-4" href="#rest_code_bd243b0cae244e9c964560de53183803-4"></a><span class="p">&lt;</span><span class="nt">a</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;addthis_button_more&quot;</span><span class="p">&gt;</span>Share<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
<a id="rest_code_bd243b0cae244e9c964560de53183803-5" name="rest_code_bd243b0cae244e9c964560de53183803-5" href="#rest_code_bd243b0cae244e9c964560de53183803-5"></a><span class="p">&lt;</span><span class="nt">ul</span><span class="p">&gt;&lt;</span><span class="nt">li</span><span class="p">&gt;&lt;</span><span class="nt">a</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;addthis_button_facebook&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
<a id="rest_code_bd243b0cae244e9c964560de53183803-6" name="rest_code_bd243b0cae244e9c964560de53183803-6" href="#rest_code_bd243b0cae244e9c964560de53183803-6"></a><span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;&lt;</span><span class="nt">a</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;addthis_button_google_plusone_share&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
<a id="rest_code_bd243b0cae244e9c964560de53183803-7" name="rest_code_bd243b0cae244e9c964560de53183803-7" href="#rest_code_bd243b0cae244e9c964560de53183803-7"></a><span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;&lt;</span><span class="nt">a</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;addthis_button_linkedin&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
<a id="rest_code_bd243b0cae244e9c964560de53183803-8" name="rest_code_bd243b0cae244e9c964560de53183803-8" href="#rest_code_bd243b0cae244e9c964560de53183803-8"></a><span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;&lt;</span><span class="nt">a</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;addthis_button_twitter&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
<a id="rest_code_bd243b0cae244e9c964560de53183803-9" name="rest_code_bd243b0cae244e9c964560de53183803-9" href="#rest_code_bd243b0cae244e9c964560de53183803-9"></a><span class="p">&lt;/</span><span class="nt">ul</span><span class="p">&gt;</span>
<a id="rest_code_bd243b0cae244e9c964560de53183803-10" name="rest_code_bd243b0cae244e9c964560de53183803-10" href="#rest_code_bd243b0cae244e9c964560de53183803-10"></a><span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<a id="rest_code_bd243b0cae244e9c964560de53183803-11" name="rest_code_bd243b0cae244e9c964560de53183803-11" href="#rest_code_bd243b0cae244e9c964560de53183803-11"></a><span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f7088a56bb93798&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
<a id="rest_code_bd243b0cae244e9c964560de53183803-12" name="rest_code_bd243b0cae244e9c964560de53183803-12" href="#rest_code_bd243b0cae244e9c964560de53183803-12"></a><span class="cm">&lt;!-- End of social buttons --&gt;</span>
<a id="rest_code_bd243b0cae244e9c964560de53183803-13" name="rest_code_bd243b0cae244e9c964560de53183803-13" href="#rest_code_bd243b0cae244e9c964560de53183803-13"></a>&quot;&quot;&quot;
</pre></div>
<p>You can change that using the <code class="docutils literal">SOCIAL_BUTTONS_CODE</code> option in your conf.py. In some cases, just
doing that will be enough but in others, it won't. This document tries to describe all the bits
involved in making this work correctly.</p>
<dl>
<dt>Part 1: <code class="docutils literal">SOCIAL_BUTTONS_CODE</code></dt>
<dd><p>Social sharing services like addthis and others will provide you a HTML snippet.
If it is self-contained, then just setting <code class="docutils literal">SOCIAL_BUTTONS_CODE</code> may be enough.
Try :-)</p>
</dd>
<dt>Part 2: The theme</dt>
<dd><p>The <code class="docutils literal">SOCIAL_BUTTONS_CODE</code> HTML fragment will be embedded <em>somewhere</em> by the theme. Whether that
is the correct place or not is not something the theme author can truly know, so it is possible that
you may have to tweak the <code class="docutils literal">base.html</code> template to make it look good.</p>
</dd>
<dt>Part 3: <code class="docutils literal">BODY_END</code> and <code class="docutils literal">EXTRA_HEAD_DATA</code></dt>
<dd><p>Some social sharing code requires JS execution that depends on JQuery being available
(example: <a class="reference external" href="https://github.com/panzi/SocialSharePrivacy">SocialSharePrivacy</a>). It's good
practice (and often, the only way that will work) to put those at the end of <code class="docutils literal">&lt;BODY&gt;</code>,
and one easy way to do that is to put them in <code class="docutils literal">BODY_END</code></p>
<p>On the other hand, it's possible that it requires you to load some CSS files.
The right place for that is in the document's <code class="docutils literal">&lt;HEAD&gt;</code> so they should be added
in <code class="docutils literal">EXTRA_HEAD_DATA</code></p>
</dd>
<dt>Part 4: assets</dt>
<dd><p>For sharing code that doesn't rely on a social sharing service, you may need to add CSS, Image, or JS
files to your site</p>
</dd>
</dl>
</section>
<section id="sharenice">
<h1><a class="toc-backref" href="#toc-entry-2" role="doc-backlink">ShareNice</a></h1>
<p><a class="reference external" href="https://graingert.co.uk/shareNice/">ShareNice</a> is &quot;written in order to provide social sharing features to
web developers and website administrators who wish to maintain and protect their users' privacy&quot;
which sounds cool to me.</p>
<p>Let's go step by step into integrating the hosted version of ShareNice into a Nikola site.</p>
<p>For testing purposes, let's do it on a demo site:</p>
<pre class="literal-block">$ nikola init --demo sharenice_test
A new site with example data has been created at sharenice_test.
See README.txt in that folder for more information.
$ cd sharenice_test/</pre>
<p>To see what's going on, let's start Nikola in &quot;auto mode&quot;. This should build the
site and open a web browser showing the default configuration, with the AddThis widget:</p>
<pre class="literal-block">$ nikola auto -b</pre>
<p>First, let's add the HTML snippet that will show the sharing options. In your conf.py, set this, which
is the HTML code suggested by ShareNice:</p>
<div class="code"><pre class="code python"><a id="rest_code_112421a47de946f8b5887e51da7837c4-1" name="rest_code_112421a47de946f8b5887e51da7837c4-1" href="#rest_code_112421a47de946f8b5887e51da7837c4-1"></a><span class="n">SOCIAL_BUTTONS_CODE</span> <span class="o">=</span> <span class="s2">&quot;&quot;&quot;&lt;div id=&quot;shareNice&quot; data-share-label=&quot;Share&quot;</span>
<a id="rest_code_112421a47de946f8b5887e51da7837c4-2" name="rest_code_112421a47de946f8b5887e51da7837c4-2" href="#rest_code_112421a47de946f8b5887e51da7837c4-2"></a><span class="s2">    data-color-scheme=&quot;black&quot; data-icon-size=&quot;32&quot; data-panel-bottom=&quot;plain&quot;</span>
<a id="rest_code_112421a47de946f8b5887e51da7837c4-3" name="rest_code_112421a47de946f8b5887e51da7837c4-3" href="#rest_code_112421a47de946f8b5887e51da7837c4-3"></a><span class="s2">    data-services=&quot;plus.google.com,facebook.com,digg.com,email,delicious.com,twitter.com&quot;</span>
<a id="rest_code_112421a47de946f8b5887e51da7837c4-4" name="rest_code_112421a47de946f8b5887e51da7837c4-4" href="#rest_code_112421a47de946f8b5887e51da7837c4-4"></a><span class="s2">    style=&quot;float:right&quot;&gt;&lt;/div&gt;&quot;&quot;&quot;</span>
<a id="rest_code_112421a47de946f8b5887e51da7837c4-5" name="rest_code_112421a47de946f8b5887e51da7837c4-5" href="#rest_code_112421a47de946f8b5887e51da7837c4-5"></a>
<a id="rest_code_112421a47de946f8b5887e51da7837c4-6" name="rest_code_112421a47de946f8b5887e51da7837c4-6" href="#rest_code_112421a47de946f8b5887e51da7837c4-6"></a><span class="n">BODY_END</span> <span class="o">=</span> <span class="s2">&quot;&quot;&quot;&lt;script src=&quot;https://graingert.co.uk/shareNice/code.js&quot;&gt;&lt;/script&gt;&quot;&quot;&quot;</span>
</pre></div>
<p>And you should now see a sharing box at the bottom right of the page.</p>
<p>Main problem remaining is that it doesn't really look good and integrated in the page layout.
I suggest changing the code to this which looks nicer, but still has some placement issues:</p>
<div class="code"><pre class="code python"><a id="rest_code_4032fdd1a09c4c21a2b84ff5d65eb7d9-1" name="rest_code_4032fdd1a09c4c21a2b84ff5d65eb7d9-1" href="#rest_code_4032fdd1a09c4c21a2b84ff5d65eb7d9-1"></a><span class="n">SOCIAL_BUTTONS_CODE</span> <span class="o">=</span> <span class="s2">&quot;&quot;&quot;&lt;div id=&quot;shareNice&quot; data-share-label=&quot;Share&quot;</span>
<a id="rest_code_4032fdd1a09c4c21a2b84ff5d65eb7d9-2" name="rest_code_4032fdd1a09c4c21a2b84ff5d65eb7d9-2" href="#rest_code_4032fdd1a09c4c21a2b84ff5d65eb7d9-2"></a><span class="s2">    data-color-scheme=&quot;black&quot; data-icon-size=&quot;32&quot; data-panel-bottom=&quot;plain&quot;</span>
<a id="rest_code_4032fdd1a09c4c21a2b84ff5d65eb7d9-3" name="rest_code_4032fdd1a09c4c21a2b84ff5d65eb7d9-3" href="#rest_code_4032fdd1a09c4c21a2b84ff5d65eb7d9-3"></a><span class="s2">    data-services=&quot;plus.google.com,facebook.com,email,twitter.com&quot;</span>
<a id="rest_code_4032fdd1a09c4c21a2b84ff5d65eb7d9-4" name="rest_code_4032fdd1a09c4c21a2b84ff5d65eb7d9-4" href="#rest_code_4032fdd1a09c4c21a2b84ff5d65eb7d9-4"></a><span class="s2">    style=&quot;position: absolute; left: 20px; top: 60px;&quot;&gt;&lt;/div&gt;&quot;&quot;&quot;</span>
</pre></div>
<p>If anyone comes up with a better idea of styling/placement, just let me know ;-)</p>
<p>One bad bit of this so far is that you are now using a script from another site, and that
doesn't let Nikola perform as many optimizations to your page as it could.
So, if you really want to go the extra mile to save a few KB and round trips, you <em>could</em>
install your own copy from the <a class="reference external" href="https://github.com/mischat/shareNice">github repo</a> and
use that instead of the copy at <a class="reference external" href="https://graingert.co.uk/shareNice">ShareNice</a>.</p>
<p>Then, you can create your own theme inheriting from the one you are using and add the CSS
and JS files from ShareNice into your <code class="docutils literal">bundles</code> configuration so they are combined and
minified.</p>
</section>
<section id="socialshareprivacy">
<h1><a class="toc-backref" href="#toc-entry-3" role="doc-backlink">SocialSharePrivacy</a></h1>
<section id="the-hard-way">
<h2><a class="toc-backref" href="#toc-entry-4" role="doc-backlink">The Hard Way</a></h2>
<p><a class="reference external" href="https://github.com/panzi/SocialSharePrivacy">SocialSharePrivacy</a> is &quot;a jQuery plugin that
lets you add social share buttons to your website that don't allow the social sites to track
your users.&quot; Nice!</p>
<p>Let's go step-by-step into integrating SocialSharePrivacy into a Nikola site. To improve
privacy, they recommend you not use the hosted service so we'll do it the hard way, by
getting and distributing everything in our own site.</p>
<p><a class="reference external" href="https://github.com/panzi/SocialSharePrivacy">https://github.com/panzi/SocialSharePrivacy</a></p>
<p>For testing purposes, let's do it on a demo site:</p>
<pre class="literal-block">$ nikola init --demo ssp_test
A new site with example data has been created at ssp_test.
See README.txt in that folder for more information.
$ cd ssp_test/</pre>
<p>To see what's going on, let's start Nikola in &quot;auto mode&quot;. This should build the
site and open a web browser showing the default configuration, with the AddThis widget:</p>
<pre class="literal-block">$ nikola auto -b</pre>
<p>Now, download <a class="reference external" href="https://github.com/panzi/SocialSharePrivacy/archive/master.zip">the current version</a>
and unzip it. You will have a <code class="docutils literal"><span class="pre">SocialSharePrivacy-master</span></code> folder with lots of stuff in it.</p>
<p>First, we need to build it (this requires a working and modern uglifyjs, this may not be easy):</p>
<pre class="literal-block">$ cd SocialSharePrivacy-master
$ sh build.sh -m gplus,twitter,facebook,mail -s &quot;/assets/css/socialshareprivacy.css&quot; -a off</pre>
<p>You will now have several files in a <code class="docutils literal">build</code> folder. We need to bring them into the site:</p>
<pre class="literal-block">$ cp -Rv SocialSharePrivacy-master/build/* files/
$ cp -R SocialSharePrivacy-master/images/ files/assets/</pre>
<p>Edit your <code class="docutils literal">conf.py</code>:</p>
<div class="code"><pre class="code python"><a id="rest_code_3be2aaa0fb424715b3b39ea8c3420f99-1" name="rest_code_3be2aaa0fb424715b3b39ea8c3420f99-1" href="#rest_code_3be2aaa0fb424715b3b39ea8c3420f99-1"></a><span class="n">BODY_END</span> <span class="o">=</span> <span class="s2">&quot;&quot;&quot;</span>
<a id="rest_code_3be2aaa0fb424715b3b39ea8c3420f99-2" name="rest_code_3be2aaa0fb424715b3b39ea8c3420f99-2" href="#rest_code_3be2aaa0fb424715b3b39ea8c3420f99-2"></a><span class="s2">&lt;script src=&quot;/javascripts/jquery.socialshareprivacy.min.js&quot;&gt;&lt;/script&gt;</span>
<a id="rest_code_3be2aaa0fb424715b3b39ea8c3420f99-3" name="rest_code_3be2aaa0fb424715b3b39ea8c3420f99-3" href="#rest_code_3be2aaa0fb424715b3b39ea8c3420f99-3"></a><span class="s2">&lt;script&gt;</span>
<a id="rest_code_3be2aaa0fb424715b3b39ea8c3420f99-4" name="rest_code_3be2aaa0fb424715b3b39ea8c3420f99-4" href="#rest_code_3be2aaa0fb424715b3b39ea8c3420f99-4"></a><span class="s2">$(document).ready(function () {</span>
<a id="rest_code_3be2aaa0fb424715b3b39ea8c3420f99-5" name="rest_code_3be2aaa0fb424715b3b39ea8c3420f99-5" href="#rest_code_3be2aaa0fb424715b3b39ea8c3420f99-5"></a><span class="s2">    $(&#39;.share&#39;).socialSharePrivacy();</span>
<a id="rest_code_3be2aaa0fb424715b3b39ea8c3420f99-6" name="rest_code_3be2aaa0fb424715b3b39ea8c3420f99-6" href="#rest_code_3be2aaa0fb424715b3b39ea8c3420f99-6"></a><span class="s2">});</span>
<a id="rest_code_3be2aaa0fb424715b3b39ea8c3420f99-7" name="rest_code_3be2aaa0fb424715b3b39ea8c3420f99-7" href="#rest_code_3be2aaa0fb424715b3b39ea8c3420f99-7"></a><span class="s2">&lt;/script&gt;</span>
<a id="rest_code_3be2aaa0fb424715b3b39ea8c3420f99-8" name="rest_code_3be2aaa0fb424715b3b39ea8c3420f99-8" href="#rest_code_3be2aaa0fb424715b3b39ea8c3420f99-8"></a><span class="s2">&quot;&quot;&quot;</span>
<a id="rest_code_3be2aaa0fb424715b3b39ea8c3420f99-9" name="rest_code_3be2aaa0fb424715b3b39ea8c3420f99-9" href="#rest_code_3be2aaa0fb424715b3b39ea8c3420f99-9"></a>
<a id="rest_code_3be2aaa0fb424715b3b39ea8c3420f99-10" name="rest_code_3be2aaa0fb424715b3b39ea8c3420f99-10" href="#rest_code_3be2aaa0fb424715b3b39ea8c3420f99-10"></a><span class="n">SOCIAL_BUTTONS_CODE</span> <span class="o">=</span> <span class="s2">&quot;&quot;&quot;&lt;div class=&quot;share&quot;&gt;&lt;/div&gt;&quot;&quot;&quot;</span>
</pre></div>
<p>In my experience this produces a broken, duplicate, semi-working thing. YMMV and if you make it work correctly, let me know how :-)</p>
</section>
<section id="the-easy-way">
<h2><a class="toc-backref" href="#toc-entry-5" role="doc-backlink">The Easy Way</a></h2>
<p>Go to <a class="reference external" href="https://panzi.github.io/SocialSharePrivacy/">https://panzi.github.io/SocialSharePrivacy/</a> and use the provided form to get the code. Make sure you check &quot;I already use JQuery&quot;
if you are using one of the themes that require it, like site or default, select the services you want, and use your disqus name if
you have one.</p>
<p>It will give you 3 code snippets:</p>
<dl class="simple">
<dt>&quot;Insert this once in the head of your page&quot;</dt>
<dd><p>Put it in <code class="docutils literal">BODY_END</code></p>
</dd>
<dt>&quot;Insert this wherever you want a share widget displayed&quot;</dt>
<dd><p>Put it in <code class="docutils literal">SOCIAL_BUTTONS_CODE</code></p>
</dd>
<dt>&quot;Insert this once anywhere after the other code&quot;</dt>
<dd><p>Put it in <code class="docutils literal">BODY_END</code></p>
</dd>
</dl>
<p>That should give you a working integration (not tested)</p>
</section>
</section>
